html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 50px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 35px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 14px;
}


:root {
  /* Color variables */
  --accent-unselected: #1C5E52;
  --foreground: #6200ff;
  --background: #262a2f;
  --background-base: #191b1f;
  --text-light: rgb(241, 255, 255);

  /* size variables */
  --cont: 60%; /* percent of main page */
  --innr: 80%; /* percent of the --cont variable*/

}
