/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Sans+Pro&display=swap'); */

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0;
}

h1 {
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 0;
}

button {
  cursor: pointer;
  border-style: none;
  border-radius: 8px;
  padding: 4px 8px;
  background-color: var(--dark);
  color: var(--white);

}

:root {
  /* Color variables */
  --white: #dff1ff;
  --unselected-white: #eee;
  --dark: #424656;
  --black: #111;

  --background-dark: #0e1725;
  --background: #313448;
  
  --accent: #00a486;
  --accent-unselected: #1C5E52;


  /* size variables */
  --cont: 60%; /* percent of main page */
  --innr: 80%; /* percent of the --cont variable*/

}
