$textColor: hsl(180, 100%, 97%);
$textColorDark: hsl(0, 0%, 55%);

$foregroundPrimaryDark: hsl(351, 35%, 30%);
$foregroundPrimary: hsl(351, 35%, 50%);

$backgroundSecondary: #29231f;
$backgroundPrimary: #1d1916;

$contentWidth: 480px;
$contentHeight: 480px;

@mixin yungLeanButton {
  border: 0;

  // border-style: solid;
  // border-width: 5px;
  // border-color: $foregroundPrimaryDark;

  padding: 40px 0;
  margin: 20px 10px;
  border-radius: 20px;


  text-align: center;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;

  user-select: none;
  cursor: pointer;
}

.cache_purposes {
  display: none;
}

.body {
  height: 100%;
  margin: 0;
  padding: 0;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: $backgroundSecondary;
  
  overflow: hidden;
}


.content {
  margin: 100px;
  display: flex;
  flex-direction: column;

  max-width: 100%;
  border-collapse: separate;

}

.yungleanVideo {

  width: $contentWidth;
  height: $contentWidth;

  display: flex;
  justify-content: center;
  align-items: center;

  video {
    object-fit: cover;
    border-radius: 15px;
  }
}

.yungLeanButtonBright {
  @include yungLeanButton;
  background-color: $foregroundPrimary;
  color: $textColor;
}

.yungLeanButtonDark {
  @include yungLeanButton;
  background-color: $foregroundPrimaryDark;
  color: $textColorDark;
}

@media screen and (max-width: 480px) {    
  .content {
      height: 100%;
  }

  .controls {
      flex-direction: column;
  }

}
