@import 'colors';

.body {
  align-items: center;
}

.hero {
  background-color: $pb-color;

  width: 100%;
  height: 55vh;
  
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.middlepart {
  height: 70%;
  background-color: $pf-color;
  color: $textcolor;
  margin: auto;
  padding: 40px;
  display: flex; 
  .pfp {
    aspect-ratio: 1 / 1 !important;
    height: 100% !important;
    

    img {
      height: 100%;
      width: 100%;

      object-fit: contain;
    }
  }
}

.bio {

  max-width: 50%;

  p {
    margin: 0; // We only want margin to the left
    margin-left: 40px;
    
    font-size: 64px;
    font-weight: 300;
    line-height: 1.2;
    letter-spacing: -3px;

    font-family: "Fira Sans", Helvetica, Arial, sans-serif;


  }
}

.stuffDone {
  margin-top: 3em;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1, h2 {

    margin: 0;
    font-weight: 500;
  }

  h1 {
    font-size: 64px;
  }

  h2 {
    font-size: 32px;
  }
}

.thingDone {
  margin-top: 50px;

  width: 60%;
  min-width: min-content;
  background-color: orange;
  border-radius: 30px;
  display: flex;
  padding: 30px;
  div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: Arial, Helvetica, sans-serif;
    h1 {
      text-align: center;
      font-size: 64px;
      width: 80%;
    }

    p {
      font-size: large;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover; 
    }
  }
  
}

.footer {
  height: 200px;
  width: 100%;
}

@media screen and (max-width: 1031px) {  
  // Make things done smaller
  .thingDone {
    flex-direction: column;
    width: 80%;

    div {
      width: 100%;
    }
  }
}

@media screen and (max-width: 718px) {  
  .middlepart {
    flex-direction: column;
    align-items: center;
    height: max-content;
    top: 20px;

    .pfp {
      width: 300px;
      height: 300px;

      max-width: 100vw;
    }
    
    .bio {
      p {
        width: 100%;
        margin: 0;
        font-size: 36px;
      }
    }
  }
}

@media screen and (max-width: 480px) {  
  .middlepart {
    flex-direction: column;
    align-items: center;
    height: max-content;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .bio {
      p {
        width: 100%;
        margin: 0;
        font-size: 36px;
      }
    }
  }

  .thingDone {
    img {
      aspect-ratio: 1;
    }
  }
}
